nifi/backups/crypto-flow-kafka-4.json
{
  "externalControllerServices": {},
  "flowContents": {
    "comments": "",
    "componentType": "PROCESS_GROUP",
    "connections": [
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "96373b2a-fbd3-389f-9a24-bc3a38102b16",
          "instanceIdentifier": "a4044d3c-134e-35f1-c355-a36bccb901e8",
          "name": "UpdateRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "59a475da-e3c6-35b7-969d-f32fad129de0",
        "instanceIdentifier": "1ddf3aa2-f845-3b95-4c5a-6a4e9ce9ef73",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "prioritizers": [],
        "selectedRelationships": [
          "valid"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "7863db5f-c8d1-3d2a-8371-a25b63cfdf0c",
          "instanceIdentifier": "5207d558-2bdb-3b4a-9bcc-ff0472141764",
          "name": "ValidateRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "f6dbcac0-ea4a-31f9-9b2a-6ac87d0f6e8f",
          "instanceIdentifier": "3093890a-09b2-3900-acb5-b4a5c927aa1d",
          "name": "MergeRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "5165b35c-085c-3641-a625-df775eb4c484",
        "instanceIdentifier": "b0c3aad5-019a-1000-b969-d036447c8709",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "435375e6-7257-30b0-a8f7-5b4f7dda1aba",
          "instanceIdentifier": "b0c379fa-019a-1000-3620-2bb9e89f583e",
          "name": "UpdateAttribute (Set Date/Hour from Timestamp)",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "435375e6-7257-30b0-a8f7-5b4f7dda1aba",
          "instanceIdentifier": "b0c379fa-019a-1000-3620-2bb9e89f583e",
          "name": "UpdateAttribute (Set Date/Hour from Timestamp)",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "ed8f5fd4-d550-3aa8-bbea-e4a232375607",
        "instanceIdentifier": "b0d423d1-019a-1000-bedd-69db44753963",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "partitioningAttribute": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success",
          "matched"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "06b2bdbb-6641-35cb-9489-fcb8b214f87c",
          "instanceIdentifier": "b0d423ad-019a-1000-e37a-524f5358e9cd",
          "name": "ExtractText (Get Timestamp)",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "7863db5f-c8d1-3d2a-8371-a25b63cfdf0c",
          "instanceIdentifier": "5207d558-2bdb-3b4a-9bcc-ff0472141764",
          "name": "ValidateRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "84b38752-87e3-3e17-892e-d67909e7eed6",
        "instanceIdentifier": "62b2a34c-cb3e-37f8-0288-c46fb6c85af2",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "Persistent WebSocket connection to Binance 24hr ticker streams",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "25466b1c-8447-333c-adf9-4e3869c376f5",
          "instanceIdentifier": "c38a6ae7-c656-37ee-66fa-203b5b7427b5",
          "name": "Binance Price WebSocket",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "a4579b5a-7214-3c9f-81b9-e8c15db502b6",
          "instanceIdentifier": "f91cf707-f88c-35ba-999b-7db5168db80a",
          "name": "UpdateAttribute (Partitioning)",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "a09ff7c9-e9e0-37ae-b0e8-60019550e474",
        "instanceIdentifier": "5ab40c02-4228-3c9a-0a60-48e3c7ef662a",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "96373b2a-fbd3-389f-9a24-bc3a38102b16",
          "instanceIdentifier": "a4044d3c-134e-35f1-c355-a36bccb901e8",
          "name": "UpdateRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "ebde0a6c-e9f6-3d07-9a05-85951b81d8d6",
          "instanceIdentifier": "b0cf88e8-019a-1000-4033-63a7899a8bbd",
          "name": "UpdateAttribute (Set Filename)",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "1657a1ad-7455-3512-83dd-7a4d809e2e75",
        "instanceIdentifier": "b0cf8906-019a-1000-4848-fe6e93b54de8",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "prioritizers": [],
        "selectedRelationships": [
          "merged"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "f6dbcac0-ea4a-31f9-9b2a-6ac87d0f6e8f",
          "instanceIdentifier": "3093890a-09b2-3900-acb5-b4a5c927aa1d",
          "name": "MergeRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "Publishes crypto price records to Kafka topic",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "5aaa14bd-d1e9-4a67-b3b1-87e2d1e8a9b0",
          "instanceIdentifier": "6ebdc2c3-2c66-3bfd-5b96-01eb2e358595",
          "name": "PublishKafkaRecord",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "830b43b9-fbd1-42df-a305-12a13d72b418",
        "instanceIdentifier": "d7b2c77f-7484-3fa7-b28f-37464865588b",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "a4579b5a-7214-3c9f-81b9-e8c15db502b6",
          "instanceIdentifier": "f91cf707-f88c-35ba-999b-7db5168db80a",
          "name": "UpdateAttribute (Partitioning)",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "06b2bdbb-6641-35cb-9489-fcb8b214f87c",
          "instanceIdentifier": "b0d423ad-019a-1000-e37a-524f5358e9cd",
          "name": "ExtractText (Get Timestamp)",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "80d74a3e-a2bf-3d05-81f4-b46754677211",
        "instanceIdentifier": "b0d423cb-019a-1000-9dbb-3823f783c4b6",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "Consumes crypto trade records from Kafka topic",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "e8c581a2-f16d-438d-9dbf-cea20a407d3e",
          "instanceIdentifier": "ccc4fb21-4f41-3735-8e55-43bbf7ce86b3",
          "name": "ConsumeKafkaRecord",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      },
      {
        "backPressureDataSizeThreshold": "1 GB",
        "backPressureObjectThreshold": 10000,
        "bends": [],
        "componentType": "CONNECTION",
        "destination": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "900a4ef6-63f3-3a9e-9e41-db625710bd37",
          "instanceIdentifier": "1e641f38-208d-32d4-56dd-46e97cb28c6c",
          "name": "PutHDFS (Crypto)",
          "type": "PROCESSOR"
        },
        "flowFileExpiration": "0 sec",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "1cf53fba-21e8-3a31-ad37-d13ed3c545b0",
        "instanceIdentifier": "b0cf890c-019a-1000-fd7e-e338499692f6",
        "labelIndex": 1,
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "name": "",
        "prioritizers": [],
        "selectedRelationships": [
          "success"
        ],
        "source": {
          "comments": "",
          "groupId": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
          "id": "ebde0a6c-e9f6-3d07-9a05-85951b81d8d6",
          "instanceIdentifier": "b0cf88e8-019a-1000-4033-63a7899a8bbd",
          "name": "UpdateAttribute (Set Filename)",
          "type": "PROCESSOR"
        },
        "zIndex": 0
      }
    ],
    "controllerServices": [
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.27.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "04a371a6-ff86-39e5-ad5f-bc997abd6ce3",
        "instanceIdentifier": "b9db88fb-4075-3801-5566-8be184a7c3dd",
        "name": "JsonRecordSetWriter",
        "properties": {
          "Allow Scientific Notation": "false",
          "Date Format": null,
          "Pretty Print JSON": "false",
          "Schema Write Strategy": "no-schema",
          "Time Format": null,
          "Timestamp Format": null,
          "compression-format": "none",
          "compression-level": "1",
          "output-grouping": "output-array",
          "schema-access-strategy": "inherit-record-schema",
          "schema-branch": null,
          "schema-cache": null,
          "schema-name": "${schema.name}",
          "schema-protocol-version": "1",
          "schema-registry": null,
          "schema-text": "${avro.schema}",
          "schema-version": null,
          "suppress-nulls": "never-suppress"
        },
        "propertyDescriptors": {
          "Allow Scientific Notation": {
            "displayName": "Allow Scientific Notation",
            "identifiesControllerService": false,
            "name": "Allow Scientific Notation",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Pretty Print JSON": {
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "name": "Pretty Print JSON",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "compression-format": {
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "name": "compression-format",
            "sensitive": false
          },
          "compression-level": {
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "name": "compression-level",
            "sensitive": false
          },
          "output-grouping": {
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "name": "output-grouping",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "suppress-nulls": {
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "name": "suppress-nulls",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.27.0"
            },
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory"
          }
        ],
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "7334ff1b-dcbc-3cf6-9a72-74bc1cf96f88",
        "instanceIdentifier": "1298a7f1-e71f-3e49-960b-7a63241a0b5a",
        "name": "CSVRecordSetWriter",
        "properties": {
          "CSV Format": "custom",
          "Comment Marker": null,
          "Date Format": null,
          "Escape Character": "\\",
          "Include Header Line": "true",
          "Include Trailing Delimiter": "false",
          "Null String": null,
          "Quote Character": "\"",
          "Quote Mode": "MINIMAL",
          "Record Separator": "\\n",
          "Schema Write Strategy": "no-schema",
          "Time Format": null,
          "Timestamp Format": null,
          "Trim Fields": "true",
          "Value Separator": ",",
          "csvutils-character-set": "UTF-8",
          "schema-access-strategy": "inherit-record-schema",
          "schema-branch": null,
          "schema-cache": null,
          "schema-name": "${schema.name}",
          "schema-protocol-version": "1",
          "schema-registry": null,
          "schema-text": "${avro.schema}",
          "schema-version": null
        },
        "propertyDescriptors": {
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Include Header Line": {
            "displayName": "Include Header Line",
            "identifiesControllerService": false,
            "name": "Include Header Line",
            "sensitive": false
          },
          "Include Trailing Delimiter": {
            "displayName": "Include Trailing Delimiter",
            "identifiesControllerService": false,
            "name": "Include Trailing Delimiter",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "Quote Mode": {
            "displayName": "Quote Mode",
            "identifiesControllerService": false,
            "name": "Quote Mode",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Schema Write Strategy": {
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "name": "Schema Write Strategy",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-cache": {
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "name": "schema-cache",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-protocol-version": {
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "name": "schema-protocol-version",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVRecordSetWriter"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.27.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "5f4b9cfe-63df-340d-b000-57bfc654b1d0",
        "instanceIdentifier": "15d28ef6-79dd-3999-6d35-f82b269c6656",
        "name": "CSVReader",
        "properties": {
          "CSV Format": "custom",
          "Comment Marker": null,
          "Date Format": null,
          "Escape Character": "\\",
          "Null String": null,
          "Quote Character": "\"",
          "Record Separator": "\\n",
          "Skip Header Line": "false",
          "Time Format": null,
          "Timestamp Format": null,
          "Trim Fields": "true",
          "Trim double quote": "true",
          "Value Separator": ",",
          "csv-reader-csv-parser": "commons-csv",
          "csvutils-allow-duplicate-header-names": "true",
          "csvutils-character-set": "UTF-8",
          "ignore-csv-header": "false",
          "schema-access-strategy": "infer-schema",
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "schema-text": "${avro.schema}",
          "schema-version": null
        },
        "propertyDescriptors": {
          "CSV Format": {
            "displayName": "CSV Format",
            "identifiesControllerService": false,
            "name": "CSV Format",
            "sensitive": false
          },
          "Comment Marker": {
            "displayName": "Comment Marker",
            "identifiesControllerService": false,
            "name": "Comment Marker",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Escape Character": {
            "displayName": "Escape Character",
            "identifiesControllerService": false,
            "name": "Escape Character",
            "sensitive": false
          },
          "Null String": {
            "displayName": "Null String",
            "identifiesControllerService": false,
            "name": "Null String",
            "sensitive": false
          },
          "Quote Character": {
            "displayName": "Quote Character",
            "identifiesControllerService": false,
            "name": "Quote Character",
            "sensitive": false
          },
          "Record Separator": {
            "displayName": "Record Separator",
            "identifiesControllerService": false,
            "name": "Record Separator",
            "sensitive": false
          },
          "Skip Header Line": {
            "displayName": "Treat First Line as Header",
            "identifiesControllerService": false,
            "name": "Skip Header Line",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "Trim Fields": {
            "displayName": "Trim Fields",
            "identifiesControllerService": false,
            "name": "Trim Fields",
            "sensitive": false
          },
          "Trim double quote": {
            "displayName": "Trim double quote",
            "identifiesControllerService": false,
            "name": "Trim double quote",
            "sensitive": false
          },
          "Value Separator": {
            "displayName": "Value Separator",
            "identifiesControllerService": false,
            "name": "Value Separator",
            "sensitive": false
          },
          "csv-reader-csv-parser": {
            "displayName": "CSV Parser",
            "identifiesControllerService": false,
            "name": "csv-reader-csv-parser",
            "sensitive": false
          },
          "csvutils-allow-duplicate-header-names": {
            "displayName": "Allow Duplicate Header Names",
            "identifiesControllerService": false,
            "name": "csvutils-allow-duplicate-header-names",
            "sensitive": false
          },
          "csvutils-character-set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "csvutils-character-set",
            "sensitive": false
          },
          "ignore-csv-header": {
            "displayName": "Ignore CSV Header Column Names",
            "identifiesControllerService": false,
            "name": "ignore-csv-header",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.csv.CSVReader"
      },
      {
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-record-serialization-services-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "CONTROLLER_SERVICE",
        "controllerServiceApis": [
          {
            "bundle": {
              "artifact": "nifi-standard-services-api-nar",
              "group": "org.apache.nifi",
              "version": "1.27.0"
            },
            "type": "org.apache.nifi.serialization.RecordReaderFactory"
          }
        ],
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "41ed742e-57ff-3bd5-843c-35bd53fc485c",
        "instanceIdentifier": "e0befc07-fc9b-3335-8297-d7e4aa677749",
        "name": "JsonTreeReader",
        "properties": {
          "Allow Comments": "false",
          "Date Format": null,
          "Max String Length": "20 MB",
          "Time Format": null,
          "Timestamp Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-application-strategy": "SELECTED_PART",
          "schema-branch": null,
          "schema-inference-cache": null,
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "schema-text": "${avro.schema}",
          "schema-version": null,
          "starting-field-name": null,
          "starting-field-strategy": "ROOT_NODE"
        },
        "propertyDescriptors": {
          "Allow Comments": {
            "displayName": "Allow Comments",
            "identifiesControllerService": false,
            "name": "Allow Comments",
            "sensitive": false
          },
          "Date Format": {
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "name": "Date Format",
            "sensitive": false
          },
          "Max String Length": {
            "displayName": "Max String Length",
            "identifiesControllerService": false,
            "name": "Max String Length",
            "sensitive": false
          },
          "Time Format": {
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "name": "Time Format",
            "sensitive": false
          },
          "Timestamp Format": {
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "name": "Timestamp Format",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-application-strategy": {
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "name": "schema-application-strategy",
            "sensitive": false
          },
          "schema-branch": {
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "name": "schema-branch",
            "sensitive": false
          },
          "schema-inference-cache": {
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "name": "schema-inference-cache",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "schema-version": {
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "name": "schema-version",
            "sensitive": false
          },
          "starting-field-name": {
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "name": "starting-field-name",
            "sensitive": false
          },
          "starting-field-strategy": {
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "name": "starting-field-strategy",
            "sensitive": false
          }
        },
        "scheduledState": "DISABLED",
        "type": "org.apache.nifi.json.JsonTreeReader"
      }
    ],
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultFlowFileExpiration": "0 sec",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "funnels": [],
    "identifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
    "inputPorts": [],
    "instanceIdentifier": "b0be221b-019a-1000-248f-af7eab9d5280",
    "labels": [
      {
        "componentType": "LABEL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "height": 488.0,
        "identifier": "77d4af40-3a9f-3485-a886-1d05846a8eac",
        "instanceIdentifier": "b0dbdccd-019a-1000-1de2-ac2b237513aa",
        "label": "",
        "position": {
          "x": -392.0,
          "y": -1024.0
        },
        "style": {
          "background-color": "#ff87ef",
          "font-size": "12px"
        },
        "width": 184.0,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "height": 488.0,
        "identifier": "c1140f3c-86f7-37f6-865d-fff0b102456a",
        "instanceIdentifier": "b0dcbec0-019a-1000-3178-f32b030b1610",
        "position": {
          "x": -24.0,
          "y": -1024.0
        },
        "style": {
          "background-color": "#ff87ef"
        },
        "width": 184.0,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "height": 272.0,
        "identifier": "497a9977-9cc0-394a-adc3-11ed9b50a516",
        "instanceIdentifier": "b0dc798c-019a-1000-075c-3e40bfdc35dc",
        "position": {
          "x": -208.0,
          "y": -920.0
        },
        "style": {
          "background-color": "#ffd6ed"
        },
        "width": 184.0,
        "zIndex": 0
      },
      {
        "componentType": "LABEL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "height": 148.0,
        "identifier": "e26da0b6-0d09-3ebc-914b-1d11db9c5956",
        "instanceIdentifier": "b0db130f-019a-1000-7ba8-7618ed2d46a1",
        "label": "oko\n",
        "position": {
          "x": -544.0,
          "y": -40.0
        },
        "style": {
          "background-color": "#3044b8",
          "font-size": "12px"
        },
        "width": 148.0,
        "zIndex": 0
      }
    ],
    "name": "crypto-flow-kafka",
    "outputPorts": [],
    "position": {
      "x": 336.0,
      "y": -56.0
    },
    "processGroups": [],
    "processors": [
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-update-attribute-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "435375e6-7257-30b0-a8f7-5b4f7dda1aba",
        "instanceIdentifier": "b0c379fa-019a-1000-3620-2bb9e89f583e",
        "maxBackoffPeriod": "10 mins",
        "name": "UpdateAttribute (Set Date/Hour from Timestamp)",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -168.0,
          "y": 976.0
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Stateful Variables Initial Value": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "date": "${timestamp:isEmpty():ifElse(${now():format('yyyy-MM-dd')}, ${timestamp:toNumber():toDate():format('yyyy-MM-dd')})}",
          "day": "${timestamp:isEmpty():ifElse(${now():format('dd')}, ${timestamp:toNumber():toDate():format('dd')})}",
          "filename": "${day}-${hour}-${minute}.csv",
          "hour": "${timestamp:isEmpty():ifElse(${now():format('HH')}, ${timestamp:toNumber():toDate():format('HH')})}",
          "minute": "${timestamp:isEmpty():ifElse(${now():format('mm')}, ${timestamp:toNumber():toDate():format('mm')})}",
          "minute_key": "${day}_${hour}_${minute}"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "name": "Delete Attributes Expression",
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "name": "Stateful Variables Initial Value",
            "sensitive": false
          },
          "Store State": {
            "displayName": "Store State",
            "identifiesControllerService": false,
            "name": "Store State",
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "name": "canonical-value-lookup-cache-size",
            "sensitive": false
          },
          "date": {
            "displayName": "date",
            "identifiesControllerService": false,
            "name": "date",
            "sensitive": false
          },
          "day": {
            "displayName": "day",
            "identifiesControllerService": false,
            "name": "day",
            "sensitive": false
          },
          "filename": {
            "displayName": "filename",
            "identifiesControllerService": false,
            "name": "filename",
            "sensitive": false
          },
          "hour": {
            "displayName": "hour",
            "identifiesControllerService": false,
            "name": "hour",
            "sensitive": false
          },
          "minute": {
            "displayName": "minute",
            "identifiesControllerService": false,
            "name": "minute",
            "sensitive": false
          },
          "minute_key": {
            "displayName": "minute_key",
            "identifiesControllerService": false,
            "name": "minute_key",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-update-attribute-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "ebde0a6c-e9f6-3d07-9a05-85951b81d8d6",
        "instanceIdentifier": "b0cf88e8-019a-1000-4033-63a7899a8bbd",
        "maxBackoffPeriod": "10 mins",
        "name": "UpdateAttribute (Set Filename)",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1600.0,
          "y": -464.0
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Stateful Variables Initial Value": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "filename": "${day}-${hour}-${minute}.csv"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "name": "Delete Attributes Expression",
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "name": "Stateful Variables Initial Value",
            "sensitive": false
          },
          "Store State": {
            "displayName": "Store State",
            "identifiesControllerService": false,
            "name": "Store State",
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "name": "canonical-value-lookup-cache-size",
            "sensitive": false
          },
          "filename": {
            "displayName": "filename",
            "identifiesControllerService": false,
            "name": "filename",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-kafka-2-6-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "Publishes crypto price records to Kafka topic",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "5aaa14bd-d1e9-4a67-b3b1-87e2d1e8a9b0",
        "instanceIdentifier": "6ebdc2c3-2c66-3bfd-5b96-01eb2e358595",
        "maxBackoffPeriod": "10 mins",
        "name": "PublishKafkaRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1608.0,
          "y": 712.0
        },
        "properties": {
          "Failure Strategy": "Route to Failure",
          "Record Metadata Strategy": "Use Configured Values",
          "ack.wait.time": "30 secs",
          "acks": "1",
          "attribute-name-regex": "message\\.timestamp",
          "aws.profile.name": null,
          "bootstrap.servers": "kafka:29092",
          "compression.type": "none",
          "kerberos-credentials-service": null,
          "kerberos-user-service": null,
          "max.block.ms": "30 sec",
          "max.request.size": "1 MB",
          "message-header-encoding": "UTF-8",
          "message-key-field": "/symbol",
          "partition": "/symbol",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "publish-strategy": "USE_VALUE",
          "record-key-writer": null,
          "record-reader": "5f4b9cfe-63df-340d-b000-57bfc654b1d0",
          "record-writer": "7334ff1b-dcbc-3cf6-9a72-74bc1cf96f88",
          "sasl.kerberos.keytab": null,
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "sasl.mechanism": "GSSAPI",
          "sasl.token.auth": "false",
          "sasl.username": null,
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "topic": "crypto-trades",
          "transactional-id-prefix": "nifi-crypto-trades",
          "use-transactions": "false"
        },
        "propertyDescriptors": {
          "Failure Strategy": {
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "name": "Failure Strategy",
            "sensitive": false
          },
          "Record Metadata Strategy": {
            "displayName": "Record Metadata Strategy",
            "identifiesControllerService": false,
            "name": "Record Metadata Strategy",
            "sensitive": false
          },
          "ack.wait.time": {
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "name": "ack.wait.time",
            "sensitive": false
          },
          "acks": {
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "name": "acks",
            "sensitive": false
          },
          "attribute-name-regex": {
            "displayName": "Attributes to Send as Headers (Regex)",
            "identifiesControllerService": false,
            "name": "attribute-name-regex",
            "sensitive": false
          },
          "aws.profile.name": {
            "displayName": "AWS Profile Name",
            "identifiesControllerService": false,
            "name": "aws.profile.name",
            "sensitive": false
          },
          "bootstrap.servers": {
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "name": "bootstrap.servers",
            "sensitive": false
          },
          "compression.type": {
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "name": "compression.type",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "max.block.ms": {
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "name": "max.block.ms",
            "sensitive": false
          },
          "max.request.size": {
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "name": "max.request.size",
            "sensitive": false
          },
          "message-header-encoding": {
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "name": "message-header-encoding",
            "sensitive": false
          },
          "message-key-field": {
            "displayName": "Message Key Field",
            "identifiesControllerService": false,
            "name": "message-key-field",
            "sensitive": false
          },
          "partition": {
            "displayName": "Partition",
            "identifiesControllerService": false,
            "name": "partition",
            "sensitive": false
          },
          "partitioner.class": {
            "displayName": "Partitioner class",
            "identifiesControllerService": false,
            "name": "partitioner.class",
            "sensitive": false
          },
          "publish-strategy": {
            "displayName": "Publish Strategy",
            "identifiesControllerService": false,
            "name": "publish-strategy",
            "sensitive": false
          },
          "record-key-writer": {
            "displayName": "Record Key Writer",
            "identifiesControllerService": true,
            "name": "record-key-writer",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.keytab",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.principal",
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.service.name",
            "sensitive": false
          },
          "sasl.mechanism": {
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "name": "sasl.mechanism",
            "sensitive": false
          },
          "sasl.password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "sasl.password",
            "sensitive": true
          },
          "sasl.token.auth": {
            "displayName": "Token Authentication",
            "identifiesControllerService": false,
            "name": "sasl.token.auth",
            "sensitive": false
          },
          "sasl.username": {
            "displayName": "Username",
            "identifiesControllerService": false,
            "name": "sasl.username",
            "sensitive": false
          },
          "security.protocol": {
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "name": "security.protocol",
            "sensitive": false
          },
          "ssl.context.service": {
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "name": "ssl.context.service",
            "sensitive": false
          },
          "topic": {
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "name": "topic",
            "sensitive": false
          },
          "transactional-id-prefix": {
            "displayName": "Transactional Id Prefix",
            "identifiesControllerService": false,
            "name": "transactional-id-prefix",
            "sensitive": false
          },
          "use-transactions": {
            "displayName": "Use Transactions",
            "identifiesControllerService": false,
            "name": "use-transactions",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "parse.failure"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-kafka-2-6-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "Consumes crypto trade records from Kafka topic",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "e8c581a2-f16d-438d-9dbf-cea20a407d3e",
        "instanceIdentifier": "ccc4fb21-4f41-3735-8e55-43bbf7ce86b3",
        "maxBackoffPeriod": "10 mins",
        "name": "ConsumeKafkaRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -1176.0,
          "y": 248.0
        },
        "properties": {
          "Commit Offsets": "true",
          "Communications Timeout": "60 secs",
          "auto.offset.reset": "latest",
          "aws.profile.name": null,
          "bootstrap.servers": "kafka:29092",
          "group.id": "crypto-trades-consumer-group",
          "header-name-regex": "message\\.timestamp",
          "honor-transactions": "true",
          "kerberos-credentials-service": null,
          "kerberos-user-service": null,
          "key-attribute-encoding": "utf-8",
          "key-format": "byte-array",
          "key-record-reader": null,
          "max-uncommit-offset-wait": "1 secs",
          "max.poll.records": "10000",
          "message-header-encoding": "UTF-8",
          "output-strategy": "USE_VALUE",
          "record-reader": "5f4b9cfe-63df-340d-b000-57bfc654b1d0",
          "record-writer": "7334ff1b-dcbc-3cf6-9a72-74bc1cf96f88",
          "sasl.kerberos.keytab": null,
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "sasl.mechanism": "GSSAPI",
          "sasl.token.auth": "false",
          "sasl.username": null,
          "security.protocol": "PLAINTEXT",
          "separate-by-key": "false",
          "ssl.context.service": null,
          "topic": "crypto-trades",
          "topic_type": "names"
        },
        "propertyDescriptors": {
          "Commit Offsets": {
            "displayName": "Commit Offsets",
            "identifiesControllerService": false,
            "name": "Commit Offsets",
            "sensitive": false
          },
          "Communications Timeout": {
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "name": "Communications Timeout",
            "sensitive": false
          },
          "auto.offset.reset": {
            "displayName": "Offset Reset",
            "identifiesControllerService": false,
            "name": "auto.offset.reset",
            "sensitive": false
          },
          "aws.profile.name": {
            "displayName": "AWS Profile Name",
            "identifiesControllerService": false,
            "name": "aws.profile.name",
            "sensitive": false
          },
          "bootstrap.servers": {
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "name": "bootstrap.servers",
            "sensitive": false
          },
          "group.id": {
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "name": "group.id",
            "sensitive": false
          },
          "header-name-regex": {
            "displayName": "Headers to Add as Attributes (Regex)",
            "identifiesControllerService": false,
            "name": "header-name-regex",
            "sensitive": false
          },
          "honor-transactions": {
            "displayName": "Honor Transactions",
            "identifiesControllerService": false,
            "name": "honor-transactions",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "key-attribute-encoding": {
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "name": "key-attribute-encoding",
            "sensitive": false
          },
          "key-format": {
            "displayName": "Key Format",
            "identifiesControllerService": false,
            "name": "key-format",
            "sensitive": false
          },
          "key-record-reader": {
            "displayName": "Key Record Reader",
            "identifiesControllerService": true,
            "name": "key-record-reader",
            "sensitive": false
          },
          "max-uncommit-offset-wait": {
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "name": "max-uncommit-offset-wait",
            "sensitive": false
          },
          "max.poll.records": {
            "displayName": "Max Poll Records",
            "identifiesControllerService": false,
            "name": "max.poll.records",
            "sensitive": false
          },
          "message-header-encoding": {
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "name": "message-header-encoding",
            "sensitive": false
          },
          "output-strategy": {
            "displayName": "Output Strategy",
            "identifiesControllerService": false,
            "name": "output-strategy",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Value Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Value Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.keytab",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.principal",
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "name": "sasl.kerberos.service.name",
            "sensitive": false
          },
          "sasl.mechanism": {
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "name": "sasl.mechanism",
            "sensitive": false
          },
          "sasl.password": {
            "displayName": "Password",
            "identifiesControllerService": false,
            "name": "sasl.password",
            "sensitive": true
          },
          "sasl.token.auth": {
            "displayName": "Token Authentication",
            "identifiesControllerService": false,
            "name": "sasl.token.auth",
            "sensitive": false
          },
          "sasl.username": {
            "displayName": "Username",
            "identifiesControllerService": false,
            "name": "sasl.username",
            "sensitive": false
          },
          "security.protocol": {
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "name": "security.protocol",
            "sensitive": false
          },
          "separate-by-key": {
            "displayName": "Separate By Key",
            "identifiesControllerService": false,
            "name": "separate-by-key",
            "sensitive": false
          },
          "ssl.context.service": {
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "name": "ssl.context.service",
            "sensitive": false
          },
          "topic": {
            "displayName": "Topic Name(s)",
            "identifiesControllerService": false,
            "name": "topic",
            "sensitive": false
          },
          "topic_type": {
            "displayName": "Topic Name Format",
            "identifiesControllerService": false,
            "name": "topic_type",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "3 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "failure",
          "original"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "96373b2a-fbd3-389f-9a24-bc3a38102b16",
        "instanceIdentifier": "a4044d3c-134e-35f1-c355-a36bccb901e8",
        "maxBackoffPeriod": "10 mins",
        "name": "UpdateRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 128.0,
          "y": -576.0
        },
        "properties": {
          "/event_time": "/T",
          "/price": "/p",
          "/quantity": "/q",
          "/symbol": "/s",
          "/timestamp": "/event_time",
          "record-reader": "41ed742e-57ff-3bd5-843c-35bd53fc485c",
          "record-writer": "7334ff1b-dcbc-3cf6-9a72-74bc1cf96f88",
          "replacement-value-strategy": "record-path-value"
        },
        "propertyDescriptors": {
          "/event_time": {
            "displayName": "/event_time",
            "identifiesControllerService": false,
            "name": "/event_time",
            "sensitive": false
          },
          "/high_price": {
            "displayName": "/high_price",
            "identifiesControllerService": false,
            "name": "/high_price",
            "sensitive": false
          },
          "/low_price": {
            "displayName": "/low_price",
            "identifiesControllerService": false,
            "name": "/low_price",
            "sensitive": false
          },
          "/open_price": {
            "displayName": "/open_price",
            "identifiesControllerService": false,
            "name": "/open_price",
            "sensitive": false
          },
          "/price": {
            "displayName": "/price",
            "identifiesControllerService": false,
            "name": "/price",
            "sensitive": false
          },
          "/price_change_percent": {
            "displayName": "/price_change_percent",
            "identifiesControllerService": false,
            "name": "/price_change_percent",
            "sensitive": false
          },
          "/quote_volume": {
            "displayName": "/quote_volume",
            "identifiesControllerService": false,
            "name": "/quote_volume",
            "sensitive": false
          },
          "/symbol": {
            "displayName": "/symbol",
            "identifiesControllerService": false,
            "name": "/symbol",
            "sensitive": false
          },
          "/timestamp": {
            "displayName": "/timestamp",
            "identifiesControllerService": false,
            "name": "/timestamp",
            "sensitive": false
          },
          "/volume": {
            "displayName": "/volume",
            "identifiesControllerService": false,
            "name": "/volume",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "replacement-value-strategy": {
            "displayName": "Replacement Value Strategy",
            "identifiesControllerService": false,
            "name": "replacement-value-strategy",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.UpdateRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "failure",
          "original"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-scripting-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "Persistent WebSocket connection to Binance 24hr ticker streams",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "25466b1c-8447-333c-adf9-4e3869c376f5",
        "instanceIdentifier": "c38a6ae7-c656-37ee-66fa-203b5b7427b5",
        "maxBackoffPeriod": "10 mins",
        "name": "Binance Price WebSocket",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -1200.0,
          "y": -24.0
        },
        "properties": {
          "Module Directory": null,
          "Script Body": "import org.apache.nifi.processor.io.StreamCallback\nimport groovy.json.*\nimport java.util.concurrent.*\nimport java.net.URI\nimport org.java_websocket.client.WebSocketClient\nimport org.java_websocket.handshake.ServerHandshake\nimport groovy.transform.Field\n\n\n// ---------------------------------------------------------\n// SHARED STATE (persists across processor invocations)\n// ---------------------------------------------------------\n@Field static WebSocketClient wsClient = null\n@Field static boolean wsConnected = false\n@Field static boolean processorActive = true\n@Field static def messageQueue = new LinkedBlockingQueue<String>(10000)\n@Field static long connectionStartTime = 0\n@Field static int reconnectAttempts = 0\n@Field static final int MAX_RECONNECT_ATTEMPTS = 5\n@Field static final long RECONNECT_DELAY_MS = 5000\n\n\n// ---------------------------------------------------------\n// CREATE FLOWFILE\n// ---------------------------------------------------------\ndef createFlowFile(session, log, trade, relSuccess) {\n    try {\n        def jsonStr = JsonOutput.toJson(trade)\n        def flowFile = session.create()\n\n        flowFile = session.write(flowFile, { _, out ->\n            out.write(jsonStr.getBytes(\"UTF-8\"))\n        } as StreamCallback)\n\n        // Key attributes for downstream routing/partitioning\n        flowFile = session.putAttribute(flowFile, \"symbol\", String.valueOf(trade.s))\n        flowFile = session.putAttribute(flowFile, \"price\", String.valueOf(trade.p))\n        flowFile = session.putAttribute(flowFile, \"quantity\", String.valueOf(trade.q))\n        flowFile = session.putAttribute(flowFile, \"event_time\", String.valueOf(trade.T))\n        flowFile = session.putAttribute(flowFile, \"timestamp\", String.valueOf(trade.T))\n\n        session.transfer(flowFile, relSuccess)\n        log.info(\"Sent FlowFile (aggTrade): ${trade.s} price=${trade.p} qty=${trade.q}\")\n\n    } catch (Exception e) {\n        log.error(\"Failed to create FlowFile: ${e.message}\", e)\n    }\n}\n\n\n// ---------------------------------------------------------\n// START WEBSOCKET (only if not already connected)\n// ---------------------------------------------------------\ndef startWebSocket(log) {\n    // If already connected, don't reconnect\n    if (wsClient != null && wsConnected) {\n        return true\n    }\n\n    // If connection exists but not connected, clean it up\n    if (wsClient != null && !wsConnected) {\n        try {\n            wsClient.close()\n        } catch (Exception e) {\n            // Ignore cleanup errors\n        }\n        wsClient = null\n    }\n\n    // Check reconnect attempts\n    if (reconnectAttempts >= MAX_RECONNECT_ATTEMPTS) {\n        log.error(\"Max reconnect attempts (${MAX_RECONNECT_ATTEMPTS}) reached. Waiting before retry...\")\n        reconnectAttempts = 0\n        return false\n    }\n\n    final def nifiLog = log\n\n    try {\n        wsClient = new WebSocketClient(new URI(\"wss://stream.binance.com:9443/stream\")) {\n\n            @Override\n            void onOpen(ServerHandshake hs) {\n                wsConnected = true\n                connectionStartTime = System.currentTimeMillis()\n                reconnectAttempts = 0\n                nifiLog.info(\"WebSocket connected successfully\")\n\n                // Subscribe to aggTrade stream (BTCUSDT only)\n                send(JsonOutput.toJson([\n                    method: \"SUBSCRIBE\",\n                    params: [\n                        \"btcusdt@aggTrade\"\n                    ],\n                    id: 1\n                ]))\n                nifiLog.info(\"Subscribed to aggTrade stream: btcusdt@aggTrade\")\n            }\n\n            @Override\n            void onMessage(String msg) {\n                if (!processorActive) return\n                // Add message to queue (non-blocking)\n                if (!messageQueue.offer(msg)) {\n                    nifiLog.warn(\"Message queue full, dropping message\")\n                }\n            }\n\n            @Override\n            void onClose(int code, String reason, boolean remote) {\n                wsConnected = false\n                nifiLog.warn(\"WebSocket closed: code=${code}, reason=${reason}, remote=${remote}\")\n\n                // Auto-reconnect if processor is still active\n                if (processorActive && reconnectAttempts < MAX_RECONNECT_ATTEMPTS) {\n                    reconnectAttempts++\n                    nifiLog.info(\"Attempting reconnect ${reconnectAttempts}/${MAX_RECONNECT_ATTEMPTS} in ${RECONNECT_DELAY_MS}ms...\")\n                    wsClient = null\n\n                    // Schedule reconnect (will happen on next processor execution)\n                    Thread.start {\n                        Thread.sleep(RECONNECT_DELAY_MS)\n                    }\n                } else {\n                    wsClient = null\n                }\n            }\n\n            @Override\n            void onError(Exception ex) {\n                wsConnected = false\n                nifiLog.error(\"WebSocket error: ${ex.message}\")\n                // Don't set wsClient to null here, let onClose handle cleanup\n            }\n        }\n\n        wsClient.connect()\n        nifiLog.info(\"Initiating WebSocket connection...\")\n\n        // Wait a bit for connection to establish\n        Thread.sleep(2000)\n\n        return wsConnected\n\n    } catch (Exception e) {\n        log.error(\"WebSocket connect failed: ${e.message}\", e)\n        wsClient = null\n        reconnectAttempts++\n        return false\n    }\n}\n\n\n// ---------------------------------------------------------\n// MAIN EXECUTION\n// ---------------------------------------------------------\ntry {\n    processorActive = true\n\n    // Ensure WebSocket is connected (only connects if not already connected)\n    if (!startWebSocket(log)) {\n        // Connection failed, yield and try again next time\n        return\n    }\n\n    // Process messages from queue (non-blocking)\n    int processed = 0\n    int maxProcess = 500  // Process up to 500 messages per execution (trades can be high-volume)\n\n    while (processed < maxProcess) {\n        def msg = messageQueue.poll()  // Non-blocking poll\n        if (!msg) break\n\n        def json\n        try {\n            json = new JsonSlurper().parseText(msg)\n        } catch (Exception e) {\n            log.warn(\"JSON parse error: ${e.message}\")\n            continue\n        }\n\n        // Process aggTrade events\n        if (json?.data?.e == \"aggTrade\") {\n            createFlowFile(session, log, json.data, REL_SUCCESS)\n            processed++\n        }\n    }\n\n    if (processed > 0) {\n        log.info(\"Processed ${processed} aggTrade messages\")\n    }\n\n} catch (Exception e) {\n    log.error(\"Fatal processor error: ${e.message}\", e)\n}\n",
          "Script Engine": "Groovy",
          "Script File": null
        },
        "propertyDescriptors": {
          "Module Directory": {
            "displayName": "Module Directory",
            "identifiesControllerService": false,
            "name": "Module Directory",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY"
              ]
            },
            "sensitive": false
          },
          "Script Body": {
            "displayName": "Script Body",
            "identifiesControllerService": false,
            "name": "Script Body",
            "sensitive": false
          },
          "Script Engine": {
            "displayName": "Script Engine",
            "identifiesControllerService": false,
            "name": "Script Engine",
            "sensitive": false
          },
          "Script File": {
            "displayName": "Script File",
            "identifiesControllerService": false,
            "name": "Script File",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {
          "background-color": "#472f2f"
        },
        "type": "org.apache.nifi.processors.script.ExecuteScript",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "failure",
          "invalid"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "7863db5f-c8d1-3d2a-8371-a25b63cfdf0c",
        "instanceIdentifier": "5207d558-2bdb-3b4a-9bcc-ff0472141764",
        "maxBackoffPeriod": "10 mins",
        "name": "ValidateRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -584.0,
          "y": -568.0
        },
        "properties": {
          "allow-extra-fields": "true",
          "coerce-types": "false",
          "invalid-record-writer": null,
          "maximum-validation-details-length": "1024",
          "record-reader": "41ed742e-57ff-3bd5-843c-35bd53fc485c",
          "record-writer": "04a371a6-ff86-39e5-ad5f-bc997abd6ce3",
          "schema-access-strategy": "reader-schema",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "schema-text": "${avro.schema}",
          "strict-type-checking": "true",
          "validation-details-attribute-name": null
        },
        "propertyDescriptors": {
          "allow-extra-fields": {
            "displayName": "Allow Extra Fields",
            "identifiesControllerService": false,
            "name": "allow-extra-fields",
            "sensitive": false
          },
          "coerce-types": {
            "displayName": "Force Types From Reader's Schema",
            "identifiesControllerService": false,
            "name": "coerce-types",
            "sensitive": false
          },
          "invalid-record-writer": {
            "displayName": "Record Writer for Invalid Records",
            "identifiesControllerService": true,
            "name": "invalid-record-writer",
            "sensitive": false
          },
          "maximum-validation-details-length": {
            "displayName": "Maximum Validation Details Length",
            "identifiesControllerService": false,
            "name": "maximum-validation-details-length",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          },
          "schema-access-strategy": {
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "name": "schema-access-strategy",
            "sensitive": false
          },
          "schema-name": {
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "name": "schema-name",
            "sensitive": false
          },
          "schema-registry": {
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "name": "schema-registry",
            "sensitive": false
          },
          "schema-text": {
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "name": "schema-text",
            "sensitive": false
          },
          "strict-type-checking": {
            "displayName": "Strict Type Checking",
            "identifiesControllerService": false,
            "name": "strict-type-checking",
            "sensitive": false
          },
          "validation-details-attribute-name": {
            "displayName": "Validation Details Attribute Name",
            "identifiesControllerService": false,
            "name": "validation-details-attribute-name",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.ValidateRecord",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "06b2bdbb-6641-35cb-9489-fcb8b214f87c",
        "instanceIdentifier": "b0d423ad-019a-1000-e37a-524f5358e9cd",
        "maxBackoffPeriod": "10 mins",
        "name": "ExtractText (Get Timestamp)",
        "penaltyDuration": "30 sec",
        "position": {
          "x": -848.0,
          "y": 776.0
        },
        "properties": {
          "Character Set": "UTF-8",
          "Enable Canonical Equivalence": "false",
          "Enable Case-insensitive Matching": "false",
          "Enable DOTALL Mode": "false",
          "Enable Literal Parsing of the Pattern": "false",
          "Enable Multiline Mode": "false",
          "Enable Unicode Predefined Character Classes": "false",
          "Enable Unicode-aware Case Folding": "false",
          "Enable Unix Lines Mode": "false",
          "Include Capture Group 0": "true",
          "Maximum Buffer Size": "1 MB",
          "Maximum Capture Group Length": "1024",
          "Permit Whitespace and Comments in Pattern": "false",
          "extract-text-enable-named-groups": "false",
          "extract-text-enable-repeating-capture-group": "false",
          "timestamp": "(?:^|,)(1\\d{12,13})(?=,|$)"
        },
        "propertyDescriptors": {
          "Character Set": {
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "name": "Character Set",
            "sensitive": false
          },
          "Enable Canonical Equivalence": {
            "displayName": "Enable Canonical Equivalence",
            "identifiesControllerService": false,
            "name": "Enable Canonical Equivalence",
            "sensitive": false
          },
          "Enable Case-insensitive Matching": {
            "displayName": "Enable Case-insensitive Matching",
            "identifiesControllerService": false,
            "name": "Enable Case-insensitive Matching",
            "sensitive": false
          },
          "Enable DOTALL Mode": {
            "displayName": "Enable DOTALL Mode",
            "identifiesControllerService": false,
            "name": "Enable DOTALL Mode",
            "sensitive": false
          },
          "Enable Literal Parsing of the Pattern": {
            "displayName": "Enable Literal Parsing of the Pattern",
            "identifiesControllerService": false,
            "name": "Enable Literal Parsing of the Pattern",
            "sensitive": false
          },
          "Enable Multiline Mode": {
            "displayName": "Enable Multiline Mode",
            "identifiesControllerService": false,
            "name": "Enable Multiline Mode",
            "sensitive": false
          },
          "Enable Unicode Predefined Character Classes": {
            "displayName": "Enable Unicode Predefined Character Classes",
            "identifiesControllerService": false,
            "name": "Enable Unicode Predefined Character Classes",
            "sensitive": false
          },
          "Enable Unicode-aware Case Folding": {
            "displayName": "Enable Unicode-aware Case Folding",
            "identifiesControllerService": false,
            "name": "Enable Unicode-aware Case Folding",
            "sensitive": false
          },
          "Enable Unix Lines Mode": {
            "displayName": "Enable Unix Lines Mode",
            "identifiesControllerService": false,
            "name": "Enable Unix Lines Mode",
            "sensitive": false
          },
          "Include Capture Group 0": {
            "displayName": "Include Capture Group 0",
            "identifiesControllerService": false,
            "name": "Include Capture Group 0",
            "sensitive": false
          },
          "Maximum Buffer Size": {
            "displayName": "Maximum Buffer Size",
            "identifiesControllerService": false,
            "name": "Maximum Buffer Size",
            "sensitive": false
          },
          "Maximum Capture Group Length": {
            "displayName": "Maximum Capture Group Length",
            "identifiesControllerService": false,
            "name": "Maximum Capture Group Length",
            "sensitive": false
          },
          "Permit Whitespace and Comments in Pattern": {
            "displayName": "Permit Whitespace and Comments in Pattern",
            "identifiesControllerService": false,
            "name": "Permit Whitespace and Comments in Pattern",
            "sensitive": false
          },
          "extract-text-enable-named-groups": {
            "displayName": "Enable named group support",
            "identifiesControllerService": false,
            "name": "extract-text-enable-named-groups",
            "sensitive": false
          },
          "extract-text-enable-repeating-capture-group": {
            "displayName": "Enable repeating capture group",
            "identifiesControllerService": false,
            "name": "extract-text-enable-repeating-capture-group",
            "sensitive": false
          },
          "timestamp": {
            "displayName": "timestamp",
            "identifiesControllerService": false,
            "name": "timestamp",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {
          "background-color": "#b53838"
        },
        "type": "org.apache.nifi.processors.standard.ExtractText",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-update-attribute-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "a4579b5a-7214-3c9f-81b9-e8c15db502b6",
        "instanceIdentifier": "f91cf707-f88c-35ba-999b-7db5168db80a",
        "maxBackoffPeriod": "10 mins",
        "name": "UpdateAttribute (Partitioning)",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 680.0,
          "y": -352.0
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Stateful Variables Initial Value": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "date": "${now():format('yyyy-MM-dd')}",
          "filename": "crypto_trades_${now():format('yyyyMMdd_HHmm')}.csv",
          "hour": "${now():format('HH')}",
          "message.timestamp": "${now()}"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "name": "Delete Attributes Expression",
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "name": "Stateful Variables Initial Value",
            "sensitive": false
          },
          "Store State": {
            "displayName": "Store State",
            "identifiesControllerService": false,
            "name": "Store State",
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "name": "canonical-value-lookup-cache-size",
            "sensitive": false
          },
          "date": {
            "displayName": "date",
            "identifiesControllerService": false,
            "name": "date",
            "sensitive": false
          },
          "filename": {
            "displayName": "filename",
            "identifiesControllerService": false,
            "name": "filename",
            "sensitive": false
          },
          "hour": {
            "displayName": "hour",
            "identifiesControllerService": false,
            "name": "hour",
            "sensitive": false
          },
          "message.timestamp": {
            "displayName": "message.timestamp",
            "identifiesControllerService": false,
            "name": "message.timestamp",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 25,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-hadoop-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "900a4ef6-63f3-3a9e-9e41-db625710bd37",
        "instanceIdentifier": "1e641f38-208d-32d4-56dd-46e97cb28c6c",
        "maxBackoffPeriod": "10 mins",
        "name": "PutHDFS (Crypto)",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 1664.0,
          "y": 608.0
        },
        "properties": {
          "Additional Classpath Resources": null,
          "Append Mode": "DEFAULT",
          "Block Size": null,
          "Compression codec": "NONE",
          "Conflict Resolution Strategy": "replace",
          "Directory": "/data/finance/raw/crypto-trades/date=${date}/hour=${hour}/",
          "Hadoop Configuration Resources": "/opt/nifi/nifi-current/conf/core-site.xml",
          "IO Buffer Size": null,
          "Ignore Locality": "false",
          "Kerberos Keytab": null,
          "Kerberos Principal": null,
          "Kerberos Relogin Period": "4 hours",
          "Permissions umask": null,
          "Remote Group": null,
          "Remote Owner": null,
          "Replication": null,
          "kerberos-credentials-service": null,
          "kerberos-user-service": null,
          "writing-strategy": "writeAndRename"
        },
        "propertyDescriptors": {
          "Additional Classpath Resources": {
            "displayName": "Additional Classpath Resources",
            "identifiesControllerService": false,
            "name": "Additional Classpath Resources",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY"
              ]
            },
            "sensitive": false
          },
          "Append Mode": {
            "displayName": "Append Mode",
            "identifiesControllerService": false,
            "name": "Append Mode",
            "sensitive": false
          },
          "Block Size": {
            "displayName": "Block Size",
            "identifiesControllerService": false,
            "name": "Block Size",
            "sensitive": false
          },
          "Compression codec": {
            "displayName": "Compression codec",
            "identifiesControllerService": false,
            "name": "Compression codec",
            "sensitive": false
          },
          "Conflict Resolution Strategy": {
            "displayName": "Conflict Resolution Strategy",
            "identifiesControllerService": false,
            "name": "Conflict Resolution Strategy",
            "sensitive": false
          },
          "Directory": {
            "displayName": "Directory",
            "identifiesControllerService": false,
            "name": "Directory",
            "sensitive": false
          },
          "Hadoop Configuration Resources": {
            "displayName": "Hadoop Configuration Resources",
            "identifiesControllerService": false,
            "name": "Hadoop Configuration Resources",
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "IO Buffer Size": {
            "displayName": "IO Buffer Size",
            "identifiesControllerService": false,
            "name": "IO Buffer Size",
            "sensitive": false
          },
          "Ignore Locality": {
            "displayName": "Ignore Locality",
            "identifiesControllerService": false,
            "name": "Ignore Locality",
            "sensitive": false
          },
          "Kerberos Keytab": {
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "name": "Kerberos Keytab",
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            },
            "sensitive": false
          },
          "Kerberos Password": {
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "name": "Kerberos Password",
            "sensitive": true
          },
          "Kerberos Principal": {
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "name": "Kerberos Principal",
            "sensitive": false
          },
          "Kerberos Relogin Period": {
            "displayName": "Kerberos Relogin Period",
            "identifiesControllerService": false,
            "name": "Kerberos Relogin Period",
            "sensitive": false
          },
          "Permissions umask": {
            "displayName": "Permissions umask",
            "identifiesControllerService": false,
            "name": "Permissions umask",
            "sensitive": false
          },
          "Remote Group": {
            "displayName": "Remote Group",
            "identifiesControllerService": false,
            "name": "Remote Group",
            "sensitive": false
          },
          "Remote Owner": {
            "displayName": "Remote Owner",
            "identifiesControllerService": false,
            "name": "Remote Owner",
            "sensitive": false
          },
          "Replication": {
            "displayName": "Replication",
            "identifiesControllerService": false,
            "name": "Replication",
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "name": "kerberos-credentials-service",
            "sensitive": false
          },
          "kerberos-user-service": {
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "name": "kerberos-user-service",
            "sensitive": false
          },
          "writing-strategy": {
            "displayName": "Writing Strategy",
            "identifiesControllerService": false,
            "name": "writing-strategy",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.hadoop.PutHDFS",
        "yieldDuration": "1 sec"
      },
      {
        "autoTerminatedRelationships": [
          "failure",
          "original"
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "bulletinLevel": "WARN",
        "bundle": {
          "artifact": "nifi-standard-nar",
          "group": "org.apache.nifi",
          "version": "1.27.0"
        },
        "comments": "",
        "componentType": "PROCESSOR",
        "concurrentlySchedulableTaskCount": 1,
        "executionNode": "ALL",
        "groupIdentifier": "3ad9fe6d-3add-3f3c-aa88-5916e9d6f04c",
        "identifier": "f6dbcac0-ea4a-31f9-9b2a-6ac87d0f6e8f",
        "instanceIdentifier": "3093890a-09b2-3900-acb5-b4a5c927aa1d",
        "maxBackoffPeriod": "10 mins",
        "name": "MergeRecord",
        "penaltyDuration": "30 sec",
        "position": {
          "x": 728.0,
          "y": 760.0
        },
        "properties": {
          "Attribute Strategy": "Keep Only Common Attributes",
          "correlation-attribute-name": "minute_key",
          "max-bin-age": "60 sec",
          "max-bin-size": "1 GB",
          "max-records": "1000000",
          "max.bin.count": "10",
          "merge-strategy": "Bin-Packing Algorithm",
          "min-bin-size": "0 B",
          "min-records": "1",
          "record-reader": "5f4b9cfe-63df-340d-b000-57bfc654b1d0",
          "record-writer": "7334ff1b-dcbc-3cf6-9a72-74bc1cf96f88"
        },
        "propertyDescriptors": {
          "Attribute Strategy": {
            "displayName": "Attribute Strategy",
            "identifiesControllerService": false,
            "name": "Attribute Strategy",
            "sensitive": false
          },
          "correlation-attribute-name": {
            "displayName": "Correlation Attribute Name",
            "identifiesControllerService": false,
            "name": "correlation-attribute-name",
            "sensitive": false
          },
          "max-bin-age": {
            "displayName": "Max Bin Age",
            "identifiesControllerService": false,
            "name": "max-bin-age",
            "sensitive": false
          },
          "max-bin-size": {
            "displayName": "Maximum Bin Size",
            "identifiesControllerService": false,
            "name": "max-bin-size",
            "sensitive": false
          },
          "max-records": {
            "displayName": "Maximum Number of Records",
            "identifiesControllerService": false,
            "name": "max-records",
            "sensitive": false
          },
          "max.bin.count": {
            "displayName": "Maximum Number of Bins",
            "identifiesControllerService": false,
            "name": "max.bin.count",
            "sensitive": false
          },
          "merge-strategy": {
            "displayName": "Merge Strategy",
            "identifiesControllerService": false,
            "name": "merge-strategy",
            "sensitive": false
          },
          "min-bin-size": {
            "displayName": "Minimum Bin Size",
            "identifiesControllerService": false,
            "name": "min-bin-size",
            "sensitive": false
          },
          "min-records": {
            "displayName": "Minimum Number of Records",
            "identifiesControllerService": false,
            "name": "min-records",
            "sensitive": false
          },
          "record-reader": {
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "name": "record-reader",
            "sensitive": false
          },
          "record-writer": {
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "name": "record-writer",
            "sensitive": false
          }
        },
        "retriedRelationships": [],
        "retryCount": 10,
        "runDurationMillis": 0,
        "scheduledState": "ENABLED",
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "style": {},
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "yieldDuration": "1 sec"
      }
    ],
    "remoteProcessGroups": [],
    "variables": {}
  },
  "flowEncodingVersion": "1.0",
  "latest": false,
  "parameterContexts": {},
  "parameterProviders": {}
}
